/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 feb. 2022, 18:43:46
    Author     : luisn
*/

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: initial; 
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#65098C,#E6B8FA);
    height: 100vh;
    overflow: hidden;
}
.contenido{
    position: absolute;
    top:50%;
    left: 50%;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    transform: translate(-50%,-50%);
}
.contenido h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    
}
.contenido form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid ;
        
}