<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head">

    </head>
    <body style="background-color: #00D3A3" >

        <header th:replace="plantilla/template::header"></header>
        <h1 th:text="${titulo}"></h1>

        <table class="table table-dark table-striped">



            <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{columna.nombre}">Nombre </th>
                    <th scope="col"  th:text="#{columna.ape1}">Apellido 1 </th>
                    <th scope="col" th:text="#{columna.ape2}">Apellido 2 </th>
                    <th scope="col" th:text="#{columna.correo}">Email </th>
                    <th scope="col" th:text="#{columna.tele}">Telefono </th>
                    <th scope="col" th:text="#{columna.pais}">Pais </th>
                    <th scope="col" th:text="#{columna.edi}">Editar</th>
                    <th scope="col" th:text="#{columna.eli}">Eliminar</th>
                    <th scope="col" th:text="#{columna.agre}">Agregar</th>
                </tr>
            </thead>



            <tbody>
            <th:block th:each="user : ${personas}">
                <tr>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getApellido1}"></td>
                    <td th:text="${user.getApellido2}"></td>
                    <td th:text="${user.getEmail}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <td th:text="${user.getPais.getPais}"></td> <!-- comment -->

                    <td>
                        <a th:href="@{/editPersona/{id}(id=${user.getId})}">Editar</a>
                    </td>
                    <td>
                        <a th:href="@{/delete/{id}(id=${user.getId})}">Delete</a>
                    </td>
                    <td>
                        <a th:href="@{/personasN/agregar}"> Agregar persona</a>
                    </td>
                </tr>
            </th:block>


        </tbody>

        <footer th:fragment="footer" class="bg-dark text-white fixed-bottom">
            <div>
                <p>Copyright Tienda &copy; 2022</p>
            </div>

            <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
               th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">ES<a>
                    <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                       th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">EN<a>
                            </div>
                            </footer>

                            </table>
                            </body>
                            </html>